name: Deploy Project
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Project
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
      - name: Build Project
        run: echo "Build Project.."
  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get Project
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
      - name: Install packages
        run: npm ci
      - name: ESLint
        run: npm run lint
  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Get Project
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
      - name: Install packages
        run: npm ci
      - name: Check Tests
        run: npm run test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get Project
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
      - name: Install packages
        run: npm ci
      - name: Deploy To Env
        run: echo "Deploying..."

